.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px; /* Smaller gap */
  margin-bottom: 10px;
  width: fit-content; /* New: makes the grid only as wide as it needs to be */
  margin-left: auto; /* New: along with margin-right, centers the grid */
  margin-right: auto; /* New: centers the grid */
}

.cell {
  background-color: #dc2121;
  border: none;
  padding: 10px; /* Reduced padding */
  font-size: 30px; /* Smaller text */
  text-align: center;
  cursor: pointer;
  aspect-ratio: 2 / 1; /* Increased aspect ratio for wider cells */
  max-width: 100px; /* Increased max-width */
  max-height: 50px; /* Adjusted max-height to maintain aspect ratio */
}

.players {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.player {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.game-info {
  text-align: center;
  margin-bottom: 20px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.button-panel button {
  margin: 5px 0; /* Adds space between buttons */
  padding: 10px; /* Makes buttons larger and easier to click */
}